interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-02-24T01:18:20.0753524+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002","name":"FeatureFilterTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/pFapvoTSgpsv3XVFcC3JSXqaCksnfVF48PJGhUz2RgQ?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/pFapvoTSgpsv3XVFcC3JSXqaCksnfVF48PJGhUz2RgQ?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/pFapvoTSgpsv3XVFcC3JSXqaCksnfVF48PJGhUz2RgQ","name":"pFapvoTSgpsv3XVFcC3JSXqaCksnfVF48PJGhUz2RgQ","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/pFapvoTSgpsv3XVFcC3JSXqaCksnfVF48PJGhUz2RgQ?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-02-24T01:18:20+00:00","endpoint":"https://featurefiltertestce3zvou.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-02-24T01:18:20+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T01:18:20+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/featurefiltertestce3zvou","name":"FeatureFilterTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8400648c-0000-0100-0000-63f8105c0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSYkG0NDqiYPXC0bDSx%2FhNQ3xzHBBZzMdghq1e8%2B21SIfYS7xwgl4qdzzznXfg0kP5ulkHsdzF6DDcmLOUmLDC%2FLPJgFO2M6PQvDI5W04UcuzYi%2B9IqPWHsMdV9ppkRnRCt1OJ3WE1qNv6Apr2v0mXOGKsa%2FoknMoqiaTqrq0zTsVHsSNVc6fBRMtbrdmhHuunkrt6LpFXWfCtntU25axfU32gl0su%2FZ3%2B%2FjcRyj8QSNo48f9F50Rbvn8l5zdRKMI0MbNLBeB3fBf0ByAXGyQNPj3J97w7XRTkArBsEwGdBJcoO4HyinAymz1ZrA8obZqdaYg5CNVyO2cuSrsvjhNMF5gmHR3Dpdc2phcJm7yEqwA4ILw2lvYdJVZpUBOGW3ukjuUPyQwU5hVyfapjD6N8diwFPWaxcAl04BxjHY%2F%2B6FGITZtb3pDpbke4afkqWfNbiqVMpvLDjFC%2FzuGLgwjDKryztGki4gNwwT0rLAbMrr%2FuUM%2F5DhdE7Az9ZWudn6idc4hd32z51bi3%2BtMgLf8Hsvit9cYNe9Pz7Ky6nLNwp%2ByJI59mSw8vjZrvvUHp2RCwH0Ql2K3TQlPO9cgWxVOufkG7IgNtH8bQVQbfTgwizfJMUTyZY4XbitDCrLYYgszG9c4Ay2Kt4xf%2FwO4zMA4AZzNYsW0ieAVeaazKTEa1hDpjijLYqiaGI5XHSVeQyPwl2JUVoHb3cBVUfcNIo31PDaX2BaQXD2GLz9BQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - d776adbf-f88b-4d38-a5fe-57573944570f
      - 10119944-044d-4c3c-bfe2-e12c549cf449
      - 38a32ad1-577c-4441-b2ce-efee403d51c7
      - 2875e382-0462-49bf-a39e-44e99a89a9aa
      - 0cf62211-5483-4b97-9e25-99c822ec5331
      - 358dfe35-50f2-48f2-b796-c87c9bae2063
      - 8989d438-1369-42c9-b0f8-1e86548a6588
      - 5ef07c17-eadf-408a-8ef5-8766fcd41f6b
      - 0909b27a-40af-4e7b-b679-6296bd7a85f0
      - 7f0e0eb1-c537-4def-af88-b80a157e9fa9
      - ac7f4b01-d6bb-488e-a940-8535765872f3
      - bf53b399-cc53-413e-b589-54b333fb60cc
      - 1fa42f1b-b3cd-407b-986a-b2e9e6ed1139
      - 3cdfa3e4-0d7c-4e6e-84be-ad83a9bd177e
      - f8af3c27-ea7a-46f1-8b03-0457ae2bde93
      - 65daf532-ad3f-494b-ad9c-3c394d747971
      - a6aaded7-3a55-4cc3-8174-358818d3592b
      - 408f1192-198d-4f64-b8c7-45dc63c48d99
      - 7aebc325-6150-445f-b209-5ac226884e6d
      - 26b68dea-297f-49b6-a6c4-eee97d0d6557
      - 240ad3fc-66d2-4258-86cc-8f2479c43e7f
      - a00d0b01-d476-4cd2-a998-f89327901d89
      - 43539cd8-7424-4da4-8b7e-f63546250e2c
      - 494fc49b-17f6-4dd1-bcdc-80958715de67
      - 4d6a9eff-cea9-4503-ac0b-60d6ca056fff
      - 284cbe80-206e-4afc-856f-d6e5fb94638a
      - 9cf591a5-2af5-4da2-bee3-112f7a841f47
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/FeatureFilterTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"8l8V-l0-s0:KCdA9DgQ2tnTJ1A2tmLB","name":"Primary","value":"x4IQo9m1iqE2swtnyQDdcw7PS9myMhdu8vc/Uuzf3dw=","connectionString":"Endpoint=https://featurefiltertestce3zvou.azconfig.io;Id=8l8V-l0-s0:KCdA9DgQ2tnTJ1A2tmLB;Secret=x4IQo9m1iqE2swtnyQDdcw7PS9myMhdu8vc/Uuzf3dw=","lastModified":"2023-02-24T01:18:20+00:00","readOnly":false},{"id":"T1cq-l0-s0:cpQMHtZm4cEohoyL+lDJ","name":"Secondary","value":"IzmuYu/LO3uHDrLjUatDcFZrcz0vcUEGltOjbAi4Q08=","connectionString":"Endpoint=https://featurefiltertestce3zvou.azconfig.io;Id=T1cq-l0-s0:cpQMHtZm4cEohoyL+lDJ;Secret=IzmuYu/LO3uHDrLjUatDcFZrcz0vcUEGltOjbAi4Q08=","lastModified":"2023-02-24T01:18:20+00:00","readOnly":false},{"id":"cN76-l0-s0:C53Bzwwdrytecy0Br8hF","name":"Primary
        Read Only","value":"XmACHUTGSuB+POR6gzehFCmxIQki9d68oBl3nTytaqM=","connectionString":"Endpoint=https://featurefiltertestce3zvou.azconfig.io;Id=cN76-l0-s0:C53Bzwwdrytecy0Br8hF;Secret=XmACHUTGSuB+POR6gzehFCmxIQki9d68oBl3nTytaqM=","lastModified":"2023-02-24T01:18:20+00:00","readOnly":true},{"id":"/tl4-l0-s0:D14n/U0r8Edw9kRPrh/t","name":"Secondary
        Read Only","value":"+T4Qvp3JM+Y6UWDX17bGPYGkrg74GKnzjsObREv8YVk=","connectionString":"Endpoint=https://featurefiltertestce3zvou.azconfig.io;Id=/tl4-l0-s0:D14n/U0r8Edw9kRPrh/t;Secret=+T4Qvp3JM+Y6UWDX17bGPYGkrg74GKnzjsObREv8YVk=","lastModified":"2023-02-24T01:18:20+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:18:32 GMT
    method: GET
    uri: https://featurefiltertestce3zvou.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDA3OQ==;sn=34040079
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      []}}", "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDA0MDA3OQ==
      x-ms-content-sha256:
      - 9/HUy3oLuI5NMYqluvZVhx9uupGiADRubS+4HiFhVTE=
      x-ms-date:
      - Feb, 24 2023 01:18:33 GMT
    method: PUT
    uri: https://featurefiltertestce3zvou.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"R_igbslEb3GB8tqAWcQEslPXV2Ky2kmXz-G-zeDs9Gs","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:34+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"R_igbslEb3GB8tqAWcQEslPXV2Ky2kmXz-G-zeDs9Gs"'
      last-modified:
      - Fri, 24 Feb 2023 01:18:34 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDA4MA==;sn=34040080
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
      \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"R_igbslEb3GB8tqAWcQEslPXV2Ky2kmXz-G-zeDs9Gs"'
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDA0MDA4MA==
      x-ms-content-sha256:
      - b2kyK+oH9Z9GGQToYf9CE/YXeF8NbL2YLAwwYzVYjP0=
      x-ms-date:
      - Feb, 24 2023 01:18:35 GMT
    method: PUT
    uri: https://featurefiltertestce3zvou.azconfig.io/kv/.appconfig.featureflag%2FColor?label=Standard&api-version=1.0
  response:
    body:
      string: '{"etag":"1kEZRoiQ_3CMT-him1hp6oISnYiYWHFgVsvEbFYU3K0","key":".appconfig.featureflag/Color","label":"Standard","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
        \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}]}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:18:37+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"1kEZRoiQ_3CMT-him1hp6oISnYiYWHFgVsvEbFYU3K0"'
      last-modified:
      - Fri, 24 Feb 2023 01:18:37 GMT
      sync-token:
      - zAJw6V16=NDoxOSMzNDA0MDA4MQ==;sn=34040081
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": ".appconfig.featureflag/Color", "label": "Standard", "content_type":
      "application/vnd.microsoft.appconfig.ff+json;charset=utf-8", "value": "{\"id\":
      \"Color\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
      [{\"name\": \"FirstFilter\", \"parameters\": {\"Name1\": [\"Value1\", \"Value1.1\"],
      \"Name2\": \"Value2\", \"Name3\": \"\", \"Name4\": {\"key\": \"value\"}}}, {\"name\":
      \"SecondFilter\", \"parameters\": {\"Foo\": \"Bar=value\", \"name\": \"Foo=Bar\",
      \"{\\\"Value\\\":\\\"50\\\",\\\"SecondValue\\\":\\\"75\\\"}\": \"ParamNameIsJsonString\"}}]}}",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"1kEZRoiQ_3CMT-him1hp6oISnYiYWHFgVsvEbFYU3K0"'
      Sync-Token:
      - zAJw6V16=NDoxOSMzNDA0MDA4Mg==
      x-ms-content-sha256:
      - yReqWOYOGsHQtpV8hT7X5uEkw1LA0u4zzUXo81j3IeY=
      x-ms-date:
      - Feb, 24 2023 01:18:39 GMT
    method: PUT
    uri: https://featurefiltertestce3zvou.azconfig.io/kv/.appconfig.featureflag%2FCol[...]
[...]
