interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-02-24T01:16:22.0144713+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002","name":"NamingConventionTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/DdUb5Uk4Lw1hG_uniyVkpU4Bdm0X32zyGJN_o3eTsGo?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/DdUb5Uk4Lw1hG_uniyVkpU4Bdm0X32zyGJN_o3eTsGo?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/DdUb5Uk4Lw1hG_uniyVkpU4Bdm0X32zyGJN_o3eTsGo","name":"DdUb5Uk4Lw1hG_uniyVkpU4Bdm0X32zyGJN_o3eTsGo","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/DdUb5Uk4Lw1hG_uniyVkpU4Bdm0X32zyGJN_o3eTsGo?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-02-24T01:16:22+00:00","endpoint":"https://namingconventiontestmqzk.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-02-24T01:16:22+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T01:16:23+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/namingconventiontestmqzk","name":"NamingConventionTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"6b024e26-0000-0100-0000-63f80fe70000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSYkG0NDqiYPXC0bDSx%2FhNQ3xzHBBZzMdghq1e8%2B21SIfYS7xwgl4qdzzznXfg0kP5ulkHsdzF6DDcmLOUmLDC%2FLPJgFO2M6PQvDI5W04UcuzYi%2B9IqPWHsMdV9ppkRnRCt1OJ3WE1qNv6Apr2v0mXOGKsa%2FoknMoqiaTqrq0zTsVHsSNVc6fBRMtbrdmhHuunkrt6LpFXWfCtntU25axfU32gl0su%2FZ3%2B%2FjcRyj8QSNo48f9F50Rbvn8l5zdRKMI0MbNLBeB3fBf0ByAXGyQNPj3J97w7XRTkArBsEwGdBJcoO4HyinAymz1ZrA8obZqdaYg5CNVyO2cuSrsvjhNMF5gmHR3Dpdc2phcJm7yEqwA4ILw2lvYdJVZpUBOGW3ukjuUPyQwU5hVyfapjD6N8diwFPWaxcAl04BxjHY%2F%2B6FGITZtb3pDpbke4afkqWfNbiqVMpvLDjFC%2FzuGLgwjDKryztGki4gNwwT0rLAbMrr%2FuUM%2F5DhdE7Az9ZWudn6idc4hd32z51bi3%2BtMgLf8Hsvit9cYNe9Pz7Ky6nLNwp%2ByJI59mSw8vjZrvvUHp2RCwH0Ql2K3TQlPO9cgWxVOufkG7IgNtH8bQVQbfTgwizfJMUTyZY4XbitDCrLYYgszG9c4Ay2Kt4xf%2FwO4zMA4AZzNYsW0ieAVeaazKTEa1hDpjijLYqiaGI5XHSVeQyPwl2JUVoHb3cBVUfcNIo31PDaX2BaQXD2GLz9BQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 5cbd78e6-3beb-444b-9217-7b0fff7277ba
      - 8c214299-ecf8-496a-bbf0-1634720e8c6f
      - d51f80b3-ed3f-4c3f-867a-c0636494cfc2
      - 0dd67cf4-b566-4941-b383-4c5be7357d60
      - 0a4da414-e16c-4b8a-9d9d-0bff58fa34c4
      - 202008ac-9e6b-4a06-a590-c5da5b6ef23e
      - 1fbf629f-864e-4905-b277-16d8cd4911e4
      - 95128369-c8f6-4e0c-89de-c9ceb00e296b
      - a672a955-3e20-400b-889f-3d6e897bbca4
      - 3fa92e4b-66a2-401b-8b0b-35c131015569
      - dd984c9e-2630-4a44-a6c0-348bd57521c0
      - e8867ca6-508a-4a11-b86f-0cdcf7e9229a
      - 825527bb-d73a-488f-bf64-fdf574b2c4c3
      - f9b8d730-d448-49dd-a71e-0cd39c7bb0e2
      - 41323a41-57b6-4b5d-a117-90dbf41274f8
      - 88898653-2152-4cde-a66c-b20e586859f2
      - 6ae0857e-3e26-45f4-b48d-483cdf24e304
      - bccf0d9e-bf9d-46ec-bede-59042a4dd594
      - b36c7a37-838c-4f1b-a51d-4847bbd58931
      - 8afd5eae-f399-4639-80ff-88dd50d8d834
      - a1b5c569-9c26-4e27-9e32-f1f3c4eefc24
      - 43d18337-cb11-4cce-86ba-3ddf7b2c1b3a
      - a6725589-f962-4b7e-a282-545f0efc193c
      - db1f9d0f-801e-40a0-bb96-6044710946f3
      - 46d4ceb5-3099-47a5-ba64-0f651b1145a2
      - 3266aa12-c91a-4544-a786-877e0a0120c7
      - 87e13fed-9c72-40ab-842a-e818a236deee
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/NamingConventionTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"4QtS-l0-s0:VShgHFqCskoJhmyjq8Eg","name":"Primary","value":"FU4cO5mK9CaY54q6n9TOr1r8o01o7dwdf/d85zbS4EE=","connectionString":"Endpoint=https://namingconventiontestmqzk.azconfig.io;Id=4QtS-l0-s0:VShgHFqCskoJhmyjq8Eg;Secret=FU4cO5mK9CaY54q6n9TOr1r8o01o7dwdf/d85zbS4EE=","lastModified":"2023-02-24T01:16:22+00:00","readOnly":false},{"id":"8s/h-l0-s0:egUHjEvhmDW+npYr5LGG","name":"Secondary","value":"FCUq+0N2+YoylJyyKYHeyA2gH7UyWn3E6Uoe9PM4aK8=","connectionString":"Endpoint=https://namingconventiontestmqzk.azconfig.io;Id=8s/h-l0-s0:egUHjEvhmDW+npYr5LGG;Secret=FCUq+0N2+YoylJyyKYHeyA2gH7UyWn3E6Uoe9PM4aK8=","lastModified":"2023-02-24T01:16:22+00:00","readOnly":false},{"id":"Ej2I-l0-s0:51eVQD2LyKRTvMo5ValA","name":"Primary
        Read Only","value":"GPMvSdHYR0v6d3l0tL43ewENZT/1kiIzSMT3EsaurZ4=","connectionString":"Endpoint=https://namingconventiontestmqzk.azconfig.io;Id=Ej2I-l0-s0:51eVQD2LyKRTvMo5ValA;Secret=GPMvSdHYR0v6d3l0tL43ewENZT/1kiIzSMT3EsaurZ4=","lastModified":"2023-02-24T01:16:22+00:00","readOnly":true},{"id":"KD0P-l0-s0:2ytHQ3bNm/mluDRkkq42","name":"Secondary
        Read Only","value":"jQ1MolyL3vPnePBOnsDlgaiX4I8P+LpXY+zM5qgEb+w=","connectionString":"Endpoint=https://namingconventiontestmqzk.azconfig.io;Id=KD0P-l0-s0:2ytHQ3bNm/mluDRkkq42;Secret=jQ1MolyL3vPnePBOnsDlgaiX4I8P+LpXY+zM5qgEb+w=","lastModified":"2023-02-24T01:16:22+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:16:34 GMT
    method: GET
    uri: https://namingconventiontestmqzk.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=MzoxOSMyMDg4NDAwMQ==;sn=20884001
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Color", "label": "NamingConventionTest", "value": "Red"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyMDg4NDAwMQ==
      x-ms-content-sha256:
      - VSffS36d1yZrU0VE0K0JB85BAfWtgzcSKReH3XQQcKM=
      x-ms-date:
      - Feb, 24 2023 01:16:35 GMT
    method: PUT
    uri: https://namingconventiontestmqzk.azconfig.io/kv/Color?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"WJuHD6W-WAGcTP54CEO1y0n2EnlfVFJ5Bvt0mZ7c3pw","key":"Color","label":"NamingConventionTest","content_type":null,"value":"Red","tags":{},"locked":false,"last_modified":"2023-02-24T01:16:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"WJuHD6W-WAGcTP54CEO1y0n2EnlfVFJ5Bvt0mZ7c3pw"'
      last-modified:
      - Fri, 24 Feb 2023 01:16:36 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyMDg4NDAwMg==;sn=20884002
    status:
      code: 200
      message: OK
- request:
    body: '{"key": "Region", "label": "NamingConventionTest", "value": "West US"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyMDg4NDAwMg==
      x-ms-content-sha256:
      - d5TuuQY1+uOeZsImyUtbAguTYwPriNoBgqLVZgmcRso=
      x-ms-date:
      - Feb, 24 2023 01:16:35 GMT
    method: PUT
    uri: https://namingconventiontestmqzk.azconfig.io/kv/Region?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"M_w6ASWKQqAISz-32FAxr-EyHCn-92DRMnsOKpdDRbw","key":"Region","label":"NamingConventionTest","content_type":null,"value":"West
        US","tags":{},"locked":false,"last_modified":"2023-02-24T01:16:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"M_w6ASWKQqAISz-32FAxr-EyHCn-92DRMnsOKpdDRbw"'
      last-modified:
      - Fri, 24 Feb 2023 01:16:36 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyMDg4NDAwMw==;sn=20884003
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Beta", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\":
      {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyMDg4NDAwMw==
      x-ms-content-sha256:
      - LlJkZdiUPnv6AG4PyAVQ8nH84c9fsUS598ZH84M/fd4=
      x-ms-date:
      - Feb, 24 2023 01:16:35 GMT
    method: PUT
    uri: https://namingconventiontestmqzk.azconfig.io/kv/.appconfig.featureflag%2FBeta?label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"etag":"hBn4W8NoM2gXMkrgpazPOL6C0_c3jlWlwQIcYHsx9vk","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.microsoft.appconfig.ff+json;charset=utf-8","value":"{\"id\":
        \"Beta\", \"description\": \"\", \"enabled\": false, \"conditions\": {\"client_filters\":
        []}}","tags":{},"locked":false,"last_modified":"2023-02-24T01:16:36+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"hBn4W8NoM2gXMkrgpazPOL6C0_c3jlWlwQIcYHsx9vk"'
      last-modified:
      - Fri, 24 Feb 2023 01:16:36 GMT
      sync-token:
      - zAJw6V16=MzoxOSMyMDg4NDAwNA==;sn=20884004
    status:
      code: 200
      message: OK
- request:
    body: '{"key": ".appconfig.featureflag/Percentage", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Percentage\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": []}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyMDg4NDAwNA==
      x-ms-content-sha256:
      - InFMUc4jWZGxDF2tsAt[...]
- request:
    body: '{"key": ".appconfig.featureflag/Timestamp", "label": "NamingConventionTest",
      "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
      "value": "{\"id\": \"Timestamp\", \"description\": \"\", \"enabled\": true,
      \"conditions\": {\"client_filters\": [{\"name\": \"Local Tests\", \"parameters\":
      {\"StartTime\": \"2019-01-01T00:00:00Z\", \"EndTime\": \"2019-09-01T00:00:00Z\"}},
      {\"name\": \"Production Tests\", \"parameters\": {\"StartTime\": \"2019-09-02T00:00:00Z\",
      \"EndTime\": \"2019-11-01T00:00:00Z\"}}]}}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sync-Token:
      - zAJw6V16=MzoxOSMyMDg4NDAwNQ==
      x-ms-content-sha256:
      - 2G4MoMP9JRN0R01czMDumf4AGMDfhMFXxOZkZuPXMj8=
      x-ms-date:
      - Feb, 24 2023 01:16:35 GMT
    method: PUT
    uri: https://namingconventiontestmqzk.azco[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:16:38 GMT
    method: GET
    uri: https://namingconventiontestmqzk.azconfig.io/kv?label=NamingConventionTest&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"hBn4W8NoM2gXMkrgpazPOL6C0_c3jlWlwQIcYHsx9vk","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type":"application/vnd.micro[...]
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:16:42 GMT
    method: GET
    uri: https://namingconventiontestmqzk.azconfig.io/kv?key=.appconfig.featureflag%2F%2A&label=NamingConventionTest&api-version=1.0
  response:
    body:
      string: '{"items":[{"etag":"hBn4W8NoM2gXMkrgpazPOL6C0_c3jlWlwQIcYHsx9vk","key":".appconfig.featureflag/Beta","label":"NamingConventionTest","content_type[...]
[...]
