interactions:
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard"}, "properties": {"softDeleteRetentionInDays":
      1, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Creating","creationDate":"2023-02-24T01:15:26.5564583+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"Standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002","name":"KVTest000002","tags":{}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/QLEIfqrDshCSoE60g-zolXU_gnbMnuO7RzEOx9_iBxk?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/QLEIfqrDshCSoE60g-zolXU_gnbMnuO7RzEOx9_iBxk?api-version=2022-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/QLEIfqrDshCSoE60g-zolXU_gnbMnuO7RzEOx9_iBxk","name":"QLEIfqrDshCSoE60g-zolXU_gnbMnuO7RzEOx9_iBxk","status":"Succeeded","error":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/QLEIfqrDshCSoE60g-zolXU_gnbMnuO7RzEOx9_iBxk?api-version=2022-05-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002?api-version=2022-05-01
  response:
    body:
      string: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"eastus","properties":{"provisioningState":"Succeeded","creationDate":"2023-02-24T01:15:26+00:00","endpoint":"https://kvtestya5uqf4eots3dku7ps.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":1,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"albertofori@microsoft.com","createdByType":"User","createdAt":"2023-02-24T01:15:26+00:00","lastModifiedBy":"albertofori@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-24T01:15:27+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/kvtestya5uqf4eots3dku7ps","name":"KVTest000002","tags":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"84007389-0000-0100-0000-63f80faf0000"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2019-08-05T21:07:46+00:00","endpoint":"https://appconfigteststorex1.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-08-05T21:07:46+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:11:45+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/appconfigtestx1/providers/Microsoft.AppConfiguration/configurationStores/appconfigteststorex1","name":"AppConfigTestStoreX1","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","identity":{"type":"None"},"properties":{"provisioningState":"Succeeded","creationDate":"2019-06-13T17:35:52+00:00","endpoint":"https://mametcal-app-config.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"disableLocalAuth":false,"softDeleteRetentionInDays":0,"enablePurgeProtection":false},"sku":{"name":"free"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2019-06-13T17:35:52+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2021-01-06T19:25:17+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mametcal/providers/Microsoft.AppConfiguration/configurationStores/mametcal-app-config","name":"mametcal-app-config","tags":{}},{"type":"Microsoft.AppConfiguration/configurationStores","location":"westcentralus","properties":{"provisioningState":"Succeeded","creationDate":"2020-02-19T23:30:38+00:00","endpoint":"https://runnerwcus.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus/privateEndpointConnections/PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","name":"PrivateLinkWCUS.887d0e05-9998-491d-bdf0-4fc486736804","type":"Microsoft.AppConfiguration/configurationStores/privateEndpointConnections","properties":{"provisioningState":"Succeeded","privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/RunnerGlobalWUS2/providers/Microsoft.Network/privateEndpoints/PrivateLinkWCUS"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-Approved","actionsRequired":"None"}}}],"disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":null,"createdByType":null,"createdAt":"2020-02-19T23:30:38+00:00","lastModifiedBy":null,"lastModifiedByType":null,"lastModifiedAt":"2020-02-19T23:34:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runnerglobalwus2/providers/Microsoft.AppConfiguration/configurationStores/runnerwcus","name":"RunnerWCUS","tags":{}},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/configurationStores?api-version=2022-05-01&%24skiptoken=3Zhfb9owFMW%2FSzTtqSYkG0NDqiYPXC0bDSx%2FhNQ3xzHBBZzMdghq1e8%2B21SIfYS7xwgl4qdzzznXfg0kP5ulkHsdzF6DDcmLOUmLDC%2FLPJgFO2M6PQvDI5W04UcuzYi%2B9IqPWHsMdV9ppkRnRCt1OJ3WE1qNv6Apr2v0mXOGKsa%2FoknMoqiaTqrq0zTsVHsSNVc6fBRMtbrdmhHuunkrt6LpFXWfCtntU25axfU32gl0su%2FZ3%2B%2FjcRyj8QSNo48f9F50Rbvn8l5zdRKMI0MbNLBeB3fBf0ByAXGyQNPj3J97w7XRTkArBsEwGdBJcoO4HyinAymz1ZrA8obZqdaYg5CNVyO2cuSrsvjhNMF5gmHR3Dpdc2phcJm7yEqwA4ILw2lvYdJVZpUBOGW3ukjuUPyQwU5hVyfapjD6N8diwFPWaxcAl04BxjHY%2F%2B6FGITZtb3pDpbke4afkqWfNbiqVMpvLDjFC%2FzuGLgwjDKryztGki4gNwwT0rLAbMrr%2FuUM%2F5DhdE7Az9ZWudn6idc4hd32z51bi3%2BtMgLf8Hsvit9cYNe9Pz7Ky6nLNwp%2ByJI59mSw8vjZrvvUHp2RCwH0Ql2K3TQlPO9cgWxVOufkG7IgNtH8bQVQbfTgwizfJMUTyZY4XbitDCrLYYgszG9c4Ay2Kt4xf%2FwO4zMA4AZzNYsW0ieAVeaazKTEa1hDpjijLYqiaGI5XHSVeQyPwl2JUVoHb3cBVUfcNIo31PDaX2BaQXD2GLz9BQ%3D%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - db3021d3-b66c-450e-bdeb-4c8e339816d5
      - 60958d23-d309-4a5f-8443-017578703f12
      - 624b1730-64ab-453e-99bb-8ff5a077a71d
      - ca69320b-a421-4b2f-83a3-a2d8f57cf366
      - 1ca0b8dd-57f6-4094-a9e5-05457df011c3
      - b8bac6e1-4872-4008-90a5-bb29ff56d018
      - eff9b709-0469-4e82-b011-04fae1b84120
      - c2442969-8f97-4c7e-9d36-97ac595b3ec1
      - d0674104-1a4b-4a67-aa12-bca169d3da96
      - 79116d14-3b4b-4977-bab9-54c304197d2c
      - d21b227b-f355-4387-8069-f1b2eb02af63
      - d5ce841e-5f0b-4015-9c85-ca9fbf7b3973
      - 48d9b478-fd1e-4414-9f42-7a08d7a4ceec
      - 95603350-a16c-4e16-9cbe-a034be672342
      - 2e46f8f2-e004-49f0-9720-49e8a2bc4b39
      - 5173b213-f64f-4158-89a9-50373574b857
      - 42b9a548-9080-451a-865e-ac8a0ae994fe
      - 884504a6-d2bc-445b-8c17-a3fcb204ee88
      - 5e07d5ef-dcc2-4fea-b022-3a96985f2a22
      - b9e91a86-95a6-41ff-a6a0-908e5e3c8211
      - da3c646d-3de7-417d-a569-a9719a702fff
      - 157015c5-8072-4afd-bd38-74cf12d992cb
      - 6088360b-3025-49e6-9c54-c84ee02baaf6
      - 4de5eafa-6168-4bd3-8c97-707f43db5df9
      - a6c360ce-676f-48f7-98ed-7d763772868c
      - 716b8fdb-cad0-41d1-b5d0-77bb61ab1b49
      - e29215f0-50aa-4004-9c7f-7035e6fb1e14
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.AppConfiguration/configurationStores/KVTest000002/listKeys?api-version=2022-05-01
  response:
    body:
      string: '{"value":[{"id":"ejI2-l0-s0:UmhW6+TmA7L5vje8fdZM","name":"Primary","value":"zMfRocSe6Q0o9BRGLYFjpGZ6HhgzZ8FfK3SlQ5GtBU4=","connectionString":"Endpoint=https://kvtestya5uqf4eots3dku7ps.azconfig.io;Id=ejI2-l0-s0:UmhW6+TmA7L5vje8fdZM;Secret=zMfRocSe6Q0o9BRGLYFjpGZ6HhgzZ8FfK3SlQ5GtBU4=","lastModified":"2023-02-24T01:15:26+00:00","readOnly":false},{"id":"pSzK-l0-s0:ZTsMdu7/kwWXCilQKO9E","name":"Secondary","value":"CrtCc/pHRGEem4O2Xhtcv2JqukHPuhHica+C5b5tg9I=","connectionString":"Endpoint=https://kvtestya5uqf4eots3dku7ps.azconfig.io;Id=pSzK-l0-s0:ZTsMdu7/kwWXCilQKO9E;Secret=CrtCc/pHRGEem4O2Xhtcv2JqukHPuhHica+C5b5tg9I=","lastModified":"2023-02-24T01:15:26+00:00","readOnly":false},{"id":"eH5Y-l0-s0:ebdAqBwe4tviTnRVsaAx","name":"Primary
        Read Only","value":"Fw2NLI6DselvPc61BG8IPILsEdt1PLlhgYHP7Vw36qI=","connectionString":"Endpoint=https://kvtestya5uqf4eots3dku7ps.azconfig.io;Id=eH5Y-l0-s0:ebdAqBwe4tviTnRVsaAx;Secret=Fw2NLI6DselvPc61BG8IPILsEdt1PLlhgYHP7Vw36qI=","lastModified":"2023-02-24T01:15:26+00:00","readOnly":true},{"id":"GEfK-l0-s0:AQH7NxJfq6uDHMBGYo1Z","name":"Secondary
        Read Only","value":"Qa3vqr5cGsNi3DKQKcmOZKwmc2A0ch2auvQ0gnO69i0=","connectionString":"Endpoint=https://kvtestya5uqf4eots3dku7ps.azconfig.io;Id=GEfK-l0-s0:AQH7NxJfq6uDHMBGYo1Z;Secret=Qa3vqr5cGsNi3DKQKcmOZKwmc2A0ch2auvQ0gnO69i0=","lastModified":"2023-02-24T01:15:26+00:00","readOnly":true}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:15:39 GMT
    method: GET
    uri: https://kvtestya5uqf4eots3dku7ps.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTY2OQ==;sn=35771669
    status:
      code: 404
      message: Not Found
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "", "value": ""}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-None-Match:
      - '*'
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTY2OQ==
      x-ms-content-sha256:
      - UkWZL26nL0YJu54RUwJKNzI6y0I1l6L9VlI1rGGCdq0=
      x-ms-date:
      - Feb, 24 2023 01:15:41 GMT
    method: PUT
    uri: https://kvtestya5uqf4eots3dku7ps.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"dUx0m1zDtNkroLUlU7Deod9NQ22JlzoQngOWvrrxkgw","key":"Color","label":"v1.0.0","content_type":"","value":"","tags":{},"locked":false,"last_modified":"2023-02-24T01:15:42+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"dUx0m1zDtNkroLUlU7Deod9NQ22JlzoQngOWvrrxkgw"'
      last-modified:
      - Fri, 24 Feb 2023 01:15:42 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTY3MA==;sn=35771670
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "Color", "label": "v1.0.0", "content_type": "text", "value": "Green",
      "tags": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '"dUx0m1zDtNkroLUlU7Deod9NQ22JlzoQngOWvrrxkgw"'
      Sync-Token:
      - zAJw6V16=NToxOSMzNTc3MTY3MA==
      x-ms-content-sha256:
      - jPY15/Kb/4+dP+1esmM7rsYyXoHDUNAVPr4CNW4Us0k=
      x-ms-date:
      - Feb, 24 2023 01:15:45 GMT
    method: PUT
    uri: https://kvtestya5uqf4eots3dku7ps.azconfig.io/kv/Color?label=v1.0.0&api-version=1.0
  response:
    body:
      string: '{"etag":"7GWHzHJHAICiBZ5sf03i2ZbxGQVUugzUQ3DEjM8v3d8","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2023-02-24T01:15:46+00:00"}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kv+json; charset=utf-8
      etag:
      - '"7GWHzHJHAICiBZ5sf03i2ZbxGQVUugzUQ3DEjM8v3d8"'
      last-modified:
      - Fri, 24 Feb 2023 01:15:46 GMT
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTY3MQ==;sn=35771671
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:15:47 GMT
    method: GET
    uri: https://kvtestya5uqf4eots3dku7ps.azconfig.io/kv/Color?label=newlabel&api-version=1.0
  response:
    body:
      string: ''
    headers:
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTY3Mg==;sn=35771672
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Feb, 24 2023 01:15:54 GMT
    method: GET
    uri: https://kvtestya5uqf4eots3dku7ps.azconfig.io/kv?key=%2A&label=%2A&api-version=1.0&$Select=
  response:
    body:
      string: '{"items":[{"etag":"YLeRBp2GDsZB1juZ13jOdYUoRPo2baI5vJsPFy_KTBs","key":"Color","label":"newlabel","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2023-02-24T01:15:49+00:00"},{"etag":"7GWHzHJHAICiBZ5sf03i2ZbxGQVUugzUQ3DEjM8v3d8","key":"Color","label":"v1.0.0","content_type":"text","value":"Green","tags":{},"locked":false,"last_modified":"2023-02-24T01:15:46+00:00"}]}'
    headers:
      content-type:
      - application/vnd.microsoft.appconfig.kvset+json; charset=utf-8
      sync-token:
      - zAJw6V16=NToxOSMzNTc3MTczNw==;sn=35771737
    status:
      code: 200
      message: OK
[...]
